{% extends 'base.html' %}  <!---esto es como si fuera un import-->

{% block title %}COMPRA DE CRYPTOS{% endblock %}
<title>COMPRA CRYPTOS</title>

{% block content %}

<div>
<main class="navbar">
    <nav>
        <ul> 
            <li class="item"><a href="/">Movimientos</a></li>
            <li class="item"><a href="/purchase">Compra</a></li>
            <li class="item"><a href="/status">Status</a></li>
        </ul>
    </nav>
</div>
<form action ='purchase' method='post'>
{{ form.hidden_tag() }}

{% if interruptor == False  %}
    {% for mensaje in mensajes %}
        <p class="err-msg">
            {{mensaje}}
        </p>
    {% endfor %}
    <table>
    <div>
        <tr>
        {{ form.desde.label }}
        {{ form.desde() }}
        </tr>
    </div>
    <div>
        {% for error in form.hacia.errors %}
        <p class="err-msg">
            {{error}}        
        </p>
        {% endfor %}
        <tr>
        {{ form.hacia.label }}
        {{ form.hacia() }}
        </tr>
    </div>
    <div>
        {% for error in form.q1.errors %}
        <p class="err-msg">
            {{error}}
        </p>
        {% endfor %}
        <tr>
        {{ form.q1.label }}
        {{ form.q1(placeholder='Introduzca cantidad')}}
        </tr>
    </div>
    <div>
        <tr>
        {{ form.q2.label }}        
        {{ form.q2(placeholder='Importe a invertir', disabled="disabled")}}
        </tr>
    </div>
    <div>
        <tr>
        {{ form.pu.label }}
        {{ form.pu(disabled="disabled") }}
        </tr>
    </table>
    </div>    
    <div>
        {{ form.aceptar (disabled="disabled", class="aceptar")}}
    </div>
    <div>
        {{ form.cancelar (class = "Cancelar") }}
    </div>
    <div>
        {{ form.calc (class = "Calc") }}
    </div>
    </table>
{% else %}
    <table>
    <div>
        <tr>
        {{ form.desde.label }}  
        {{ form.desde(value=form.desde.data, disabled="disabled") }}
        {{ form.desde(value=form.desde.data, hidden=True) }}
        </tr>
    </div>
    <div>
        {% for error in form.hacia.errors %}
        <p class="err-msg">
            {{error}}
        </p>
        {% endfor %}
        <tr>
        {{ form.hacia.label }}
        {{ form.hacia(value=form.hacia.data, disabled="disabled") }}
        {{ form.hacia(value=form.hacia.data, hidden=True) }}
        </tr>
    </div>
    <div>
        <tr>
        {{ form.q1.label }}
        {{ form.q1(value=form.q1.data, readonly="readonly")}}
        </tr>
    </div>
    <div>
        <tr>
        {{ form.q2.label }}        
        {{ form.q2(value=form.q2.data, readonly="readonly")}}
        </tr>
    </div>
    <div>
        <tr>
        {{ form.pu.label }}
        {{ form.pu(value=form.pu.data, readonly="readonly")}}
        </tr>
    </div>    
    <div>
        {{ form.aceptar (class = "Aceptar") }}
    </div>
    <div>
        {{ form.cancelar (class = "Cancelar") }}
    </div>
    <div>
        {{ form.calc (class = "Calc") }}
    </div>
    </table>
{% endif %}
</form>
{% endblock %}