{% extends 'base.html' %}  <!---esto es como si fuera un import-->

{% block title %}Movimientos{% endblock %}

{% block content %}
<nav>
        <ul> 
                <li class="item"><a>Movimientos</a></li>
                <li class="item"><a href="/purchase">Compra</a></li>
                <li class="item"><a href="/status">Status</a></li>
        </ul>
</nav>
{% for mensaje in mensajes %}
        <p>{{mensaje}}</p>
{% endfor %}
<h1>Movimientos</h1>
        <div id="boton-plus">
                <button><a href="/purchase"><i class="fas fa-plus"></i></a></button>
        </div>       
        <table>
                <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>From</th>
                <th>Cantidad</th>
                <th>To</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>  
                </tr>
        {% for registro in datos %}
        <tr>
                <td>{{ registro ['fecha'] }}</td>
                <td>{{ registro ['hora'] }}</td>
                <td>{{ registro ['desde'] }}</td>
                <td>{{ registro ['q1'] }}</td>
                <td>{{ registro ['hacia'] }}</td>
                <td>{{ registro ['q2'] }}</td>
                <td>{{ registro ['pu'] }}</td>
        </tr>
        {% endfor %}        
        </table>
{% endblock %}

