{% extends 'base.html' %}  <!---esto es como si fuera un import-->

{% block title %}Movimientos{% endblock %}

{% block content %}
<div class="navbar">
<nav>
        <ul> 
                <li class="item">Movimientos</li>
                <li class="item"><a href="/purchase">Compra</a></li>
                <li class="item"><a href="/status">Status</a></li>
        </ul>
</nav>
</div>
{% for mensaje in mensajes %}
        <p class="err-msg">
                {{mensaje}}
        </p>        
{% endfor %}
<h1>Movimientos</h1>
        <div id="boton-plus">
                <a role="button" href="/purchase">Nueva compra</a>
        </div>
        {% if datos|length > 0 %}
        <table>
                <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>From</th>
                <th>Cantidad</th>
                <th>To</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>  
                </tr>
        {% for registro in datos %}
        <tr>
                <td>{{ registro ['fecha'] }}</td>
                <td>{{ registro ['hora'] }}</td>
                <td>{{ registro ['desde'] }}</td>
                <td>{{ registro ['q1'] }}</td>
                <td>{{ registro ['hacia'] }}</td>
                <td>{{ registro ['q2'] | round(8, 'floor') }}</td>
                <td>{{ registro ['pu'] }}</td>
        </tr>
        {% endfor %}        
        </table>
        {% else %}
        <p>No hay movimientos. Crea el tuyo</p>
{% endif %}        
{% endblock %}

