{% extends 'base.html' %}  <!---esto es como si fuera un import-->

{% block title %}MODFICIA{% endblock %}
{% block content %}
<form action ='modifica' method='post'> <!---en action hay que poner el punto de entrada - el endpoint. No le pongo la raya '/' a modifica pq estamos en enrutamiento relativo --->
    <div>    
    <label for='From'>From:</label>
        <select name='From'> <!---me pinta un menú de selección. El 'name' es para distinguir unos inputs de otros, si tengo varios. En google poner html type y buscar todos los tipos de type que existen-->
            <option value='con1'>COIN1</option>
            <option value='con2'>COIN2</option>
            <option value='coin3'>COIN3</option>
            <option value='coin4'>COIN4</option>
        </select>
    </div>
    <div>
        <label for='To'>To:</label>
        <select name='To'>
            <option value='coin5'>COIN5</option>
            <option value='coin6'>COIN6</option>
            <option value='coin7'>COIN7</option>
            <option value='coin8'>COIN8</option>
        </select>
    </div>
    <div>
        <label for='q1'>Q:</label>
        <input type='number' name='q1' required> <!---si quieres poner que un campo sea obligatorio tienes que poner required-->
        <i class="fas fa-calculator"></i>
    </div>
    <div>   
        <label for='q2'>Q:</label>
        <input type='number' name='q2'step='0.01'> <!---el step es para poder poner decimales-->

    </div>
    <div>
        <label for='pu'>P.U:</label>
        <input type='number' name='pu' step='0.01'>
    </div>    
    <div>
        <input type="submit" value="+" step='0.01'>
    </div>
    <div>
        <input type="submit" value="x" step='0.01'>
    </div>

    </form>

{% endblock %}