{% extends 'base.html' %}

{% block title %}STATUS{% endblock %}

{% block content %}
<div class="navbar">
        <nav>
        <ul> 
                <li class="item"><a href="/">Movimientos</a></li>
                <li class="item"><a href="/purchase">Compra</a></li>
                <li class="item">Status</li>
        </ul>
        </nav>
</div>
{% for mensaje in mensajes %}
        <p class="err-msg">
                {{mensaje}}
        </p>
{% endfor %}
<h1>ESTADO DE LA INVERSIÓN (EUR)</h1>

<table>
{% if interruptorError == False  %}
        <div>
        <tr>
                {{ form.invertido.label }}
                {{ form.invertido (value=form.invertido.data) }}
        </tr>
        </div>
        <div>
        <tr>
                {{ form.valorActual.label }}
                {{ form.valorActual (value=form.valorActual.data | round(8, 'floor')) }}
        </tr>
        </div>
</table>
{% else %}
<table>        
        <div>
        <tr>
                {{ form.invertido.label }}
                {{ form.invertido (value='', disabled="disabled") }}
        </tr>
        </div>
        <div>
        <tr>
                {{ form.valorActual.label }}
                {{ form.valorActual(value='', disabled="disabled") }}
        </tr>
        </div>
{% endif %}
</table>
<div>
      <a role="button" href="/">Volver</a>
</div>        
{% endblock %}